<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>jQuery To Do List App</title>
</head>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<style>
  ul {
    list-style: none;
  }
  ul li {
    cursor: pointer;
  }
</style>
<body>
<div class="jumbotron">
  <div class="container">
    <div class="page-header"> <h1>jQuery To Do List App</h1></div>
    <form>
      <input class="form-control input-lg" type="text" placeholder="Add an item...">
    </form>
    <ul>
      <!-- To do items get added dynamically here -->
    </ul>
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script>
$(function() {
  $('form').on('submit', function(e) {
    e.preventDefault();
    var input = $('input'),
    todoText = input.val();
    input.val('');
    var removeButton = ' <span class="remove glyphicon glyphicon-trash"></span>';
    if (todoText != '') {
      $('ul').prepend('<li><span class="checkbox glyphicon glyphicon-unchecked"></span> ' + todoText + removeButton + '</li>');
      $('ul').on('click', 'li', function(){
        var checkBox = $(this).children('.checkbox');
        checkBox.toggleClass('glyphicon-unchecked glyphicon-check');
        $(this).toggleClass("text-muted");
      });
    }
    $('.remove').on('click', function() {

    });
  });
});
</script>
</body>
</html>